<div class=" d-flex justify-content-center">
  
<div class="card details" style="max-width:fit-content;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="image/images.png" class="card"></div>
    </div>
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title">{{book.bookName}}</h5>
        <p class="card-text">{{book.description}}</p>
        <p class="card-text"><small class="text-muted">{{time}}</small></p>

        <div class="d-flex justify-content-around mb-1">
          <div class="text-muted">
            <p class="card-text"><a href="/buy" target="_blank" rel="noopener noreferrer">Buy Now</a> - {{book.price | currency}}</p>
          </div>
          <div class="">
            <abbr class="text-decoration-none" title="Click to edit this details">
              <input class="bg-warning border-0 text-white" type="button" ng-click="editDetail(book.bookId)" value="Edit">
            </abbr>
            <abbr class="text-decoration-none" title="after click this button lost this item permanently ">
              <input class="bg-danger border-0 text-white" type="button" ng-click="removeItem(book.bookId)" value="Delete">
            </abbr>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<style>

.details{
  transition: 0.5s ease-in-out;
  box-shadow: 5px 5px 10px 0px #b1b4b4;
  border-radius: 10px;
}

  .details:hover{
    /* transform: scale(0.998); */
    transition: 0.5s ease-in-out;
    box-shadow: none;
  }



</style>
